@import "../../common/font/font.css";
.font_myfont {
  font-family: 'myfont';
  font-size: 30px;
  font-weight: 600;
}
.font_myfont_two {
  font-family: 'myfont_2';
  font-size: 30px;
  font-weight: 600;
}
.font_myfont_protitle {
  font-family: 'myfont_protitle';
  font-size: 30px;
  font-weight: 500;
}
