@import "../../common/font/font.css";
.font_myfont {
  font-family: 'myfont';
  font-size: 30px;
  font-weight: 600;
}
.font_myfont_two {
  font-family: 'myfont_2';
  font-size: 30px;
  font-weight: 600;
}
.font_myfont_protitle {
  font-family: 'myfont_protitle';
  font-size: 30px;
  font-weight: 400;
}
.content-box {
  width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .content-box {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .content-box {
    width: 1200px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1679px) {
  .content-box {
    width: 1500px;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1900px) {
  .content-box {
    width: 1600px;
  }
}
