.content-box {
  width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .content-box {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .content-box {
    width: 1200px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1679px) {
  .content-box {
    width: 1500px;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1900px) {
  .content-box {
    width: 1600px;
  }
}
